.region-header .block {
    float: none !important;
}

body {
  background-color: #fff !important;
}

#header {
  background-color: #fff !important;
  background-image: initial !important;
}

.case-stages {
  width: 500px;
  margin: auto;
  height: 500px;
}

.case-stages img {
  display: none;
  position: absolute;
  bottom: 40%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, 100px);
}

@media (max-width: 600px) {
  .case-stages {
    height: 150px;
  }

  .case-stages img {
    bottom: 60%;
  }

}

/* audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-volume-slider-container
{
  display: none !important;
} */

