.playlist {
    height: 100%;
    /* height: 60px; */
    overflow: scroll;
}

.songs-front-list {
    padding: 0 !important;
}

.list-item-song {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 14px;
}

.list-item-song:hover {
  cursor: pointer;
  background-color: #3496cf;
}

#audio-container audio {
    width: 100%;
}

.playing {
    background-color: #0071b3;
}