<div class="playlist">
    <p>ADMIN</p>
    <ul>
    {% for song in songs %}
        <div>
            <a href="{{ path('songs.delete', {'id': '1'}) }}"><p>Delete<p></a>
            <li>{{ song.name }}</li>    
        </div>
    {% endfor %}
    </ul>
</div>