<div class="playlist">
    <ul>
    {% for song in songs %}
        <div>
            <li>{{ song.name }}</li>   
            <a href="{{ path('songs.delete', {'id': song.id}) }}"><p>Delete<p></a> 
        </div>
    {% endfor %}
    </ul>
</div>