{{ attach_library('songs/record_player') }}
{{ attach_library('songs/record_style') }}

<div class="controls">
    <div style="display:none" id="r-play">▸</div>
    <div style="display:none" id="r-stop">■</div>
</div>

<div class="case-stages">
  <img class="case-img" src="modules/songs/images/bclosed.png">
  <img class="case-img" src="modules/songs/images/bstage2.png">
  <img class="case-img" src="modules/songs/images/bstage3.png">
  <img class="case-img" src="modules/songs/images/bopen.png">
</div>
