{{ attach_library('bartik/custom') }}

<div class="case-stages">
  <img class="case-img" src="../web/sites/default/files/images/bclosed.png">
  <img class="case-img" src="../web/sites/default/files/images/bstage2.png">
  <img class="case-img" src="../web/sites/default/files/images/bstage3.png">
  <img class="case-img" src="../web/sites/default/files/images/bopen.png">
</div>
